<div class="row">
    <div class="col-md-4">
        {{ field('name', item.name, 'Title') }}
    </div>
    <div class="col-md-4">
        {{ field('category_id', item.category_id, 'Category', {options: categories}) }}
    </div>
    <div class="col-md-4">
        {{ field('slug', item.slug, 'Slug') }}
    </div>
</div>

{{ field('created_at', item.created_at, 'Creation date', {class: 'datepicker'}) }}
{{ field('content', item.content, 'Content', {type: 'textarea'}) }}