{{ csrf() }}
<div class="row">
    <div class="col-md-4">
        {{ field('name', item.name, 'Title') }}
    </div>
    <div class="col-md-4">
        {{ field('category_id', item.categoryId, 'Category', {options: categories}) }}
    </div>
    <div class="col-md-4">
        {{ field('published', item.published, 'Published?', {type: 'checkbox'}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {% if item.image %}
            <img src="{{ item.getThumb() }}" alt="" style="width: 100%;">
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ field('image', item.image, 'Image', {type: 'file'}) }}
    </div>
    <div class="col-md-4">
        {{ field('slug', item.slug, 'Slug') }}
    </div>
</div>

{{ field('created_at', item.createdAt, 'Creation date', {class: 'datepicker'}) }}
{{ field('content', item.content, 'Content', {type: 'textarea'}) }}