<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title "Default title" %}</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.css">
    <style>
        .container {
            margin-top: 80px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('admin') }}">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
                {{ admin_menu() }}
        </ul>
        <div class="navbar-nav">
            <form action="{{ path('auth.logout') }}" method="post" class="nav-item-active">
                {{ csrf() }}
                <button class="nav-link">Logout</button>
            </form>
        </div>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">

        {% if flash('success') %}
            <div class="alert alert-success">
                {{ flash('success') }}
            </div>
        {% endif %}

        {% if flash('error') %}
            <div class="alert alert-danger">
                {{ flash('error') }}
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </div>

</main>

<script src="//cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.js"></script>
<script>
    flatpickr('.datepicker', {
        enableTime: true,
        altInput: true,
        altFormat: 'j F Y, H:i',
        dateFormat: 'Y-m-d H:i:S'
    })
</script>
</body>
</html>